<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <!-- menu is the option that occurs in the horizontal bar of the top of the page -->
    <menuitem id="menu_hospital_root"
              name="hospital"
              sequence="0"/>

    <menuitem id="menu_patient_master"
              name="Patient"
              parent="menu_hospital_root"
              sequence="0"/>

    <menuitem id="menu_appointment_master"
              name="Appointment"
              parent="menu_hospital_root"
              sequence="0"/>

    <menuitem id="menu_configuration"
              name="Configurations"
              parent="menu_hospital_root"
              sequence="100"/>

</odoo>